{% extends "base.html" %}

{% block title %}Upload Image{% endblock %}

{% block content %}

<form action="/" method="POST" enctype="multipart/form-data" class="card p-4">
    <label for="image" class="form-label">Upload Image:</label>
    <input type="file" name="image" class="form-control" required>

    <label for="size_type" class="form-label">Size Type:</label>
    <select name="size_type" class="form-control" required>
        <option value="width">Width</option>
        <option value="height">Height</option>
    </select>

    <label for="size_value" class="form-label">Size (in pixels):</label>
    <input type="number" name="size_value" value="100" min="10" max="500" class="form-control" required>

    <label for="num_colors" class="form-label">Number of Color Groups (0 = unlimited):</label>
    <input type="number" name="num_colors" value="0" min="0" max="489" class="form-control" required>

    <div class="mt-4">
        <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#aboutSection" aria-expanded="false" aria-controls="aboutSection">
            About
        </button>
        <div class="collapse mt-2" id="aboutSection">
            <div class="card card-body">
                <p>
                    This website allows you to upload an image and generate a cross-stitch pattern based on the image's colors and size. 
                    You can adjust the size of the pattern and limit the number of color groups used. 
                    <br>
                    Once the pattern and key are generated, you will be able to download them. 
                    They are deleted from the server after 24 hours, so I recommend saving them.
                    <br>
                    <br>
                    This website is 100% free to use, but you can send me money anyway if you want, by clicking the Ko-fi button above :^)
                </p>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Generate Pattern</button>
</form>

{% endblock %}
